@model TicketDetailsViewModel

@{
    /**/

    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="well" style="min-height: 20px;padding: 19px;margin-bottom: 20px;background-color: #f5f5f5;border: 1px solid #e3e3e3;border-radius: 4px;">
    <div class="row" style="margin-right: -15px;margin-left: -15px;">
        <div class="col-lg-12" style="position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
            <table class="table table-condensed no-border" style="width: 100%;
    max-width: 100%;
    margin-bottom: 20px;">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        @*</tr>
                            <tr>*@
                        <th>Project Name</th>
                        <th>Type</th>
                        @*</tr>
                            <tr>*@
                        <th>Status</th>
                        <th>Priority</th>
                        @*</tr>
                            <tr>*@
                        <th>Date Created</th>
                        <th>Date Updated</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="box-sizing: border-box;display: table-row-group;vertical-align: middle;border-color: inherit;">
                    <tr>
                        <td>@Model.Title</td>
                        <td>@Model.Description</td>
                        @*</tr>
                            <tr>*@
                        <td>@Model.ProjectName</td>
                        <td>@Model.TypesOfTicket</td>
                        @*</tr>
                            <tr>*@
                        <td>@Model.TypesOfStatus</td>
                        <td>@Model.TypesOfPriority</td>
                        @*</tr>
                            <tr>*@
                        <td>@Model.DateCreated</td>
                        <td>@Model.DateUpdated</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="@Url.Action("CreateComments", "Tickets", new { id = Model.TicketId })">
                                Comments <i title="Edit Ticket" class="fas fa-comment"></i>
                            </a>

                            @foreach (var comment in Model.AllComments)
                            {
                                {
                                    <div class="panel-body">
                                        <ul class="list-unstyled">
                                            <li>
                                                <div class="well well-sm">
                                                    <div class="header">
                                                        <strong>
                                                            @(comment.User?.DisplayName)
                                                        </strong>
                                                        <small class="pull-right text-muted">
                                                            <span>
                                                                Posted: @comment.DateCreated
                                                            </span>
                                                            <span>
                                                                Updated: @comment.DateUpdated
                                                            </span>
                                                        </small>
                                                    </div>
                                                    <p>@comment.Comment</p>
                                                </div>

                                                <div style="display: flex; flex-flow:row; justify-content:space-between; width:100px;">
                                                    <span>
                                                        @Html.ActionLink("Edit", "EditComment", new                                 { id = comment.CommentId })
                                                    </span>
                                                    <form method="post"
                                                          action="@Url.Action("DeleteComment",      "Tickets", new { id = comment.CommentId, ticketId = Model.TicketId })">
                                                        <button style="background:none; border:none; color:deeppink" class="btn-delete">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            }
                        </td>
                        <td>
                            @foreach (var history in Model.TicketHistories)
                            {
                                @history.User.UserName
                                @history.PropertyName                                
                                @history.OldValue
                                @history.NewValue
                                @history.DateChanged
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
