@model List<TicketViewModel>

@{
    ViewBag.Title = "MyTickets";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}

<h2>MyTickets</h2>

@if (User.IsInRole(nameof(UserRoles.Submitter)))
{
    @Html.ActionLink("Create Ticket", "CreateTicket", new { }, new { @class = "btn btn-primary", style = "margin:20px" })
}

<table id="sample-datatables" class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Project Name</th>
            <th>Creator</th>
            <th>Assigned Developer</th>
            <th>Type</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Model in Model)
        {
            <tr>
                <td>@Model.Title</td>
                <td>@Model.Project</td>
                <td>@Model.OwnerUser.UserName</td>
                <td>@(Model.AssignedToUser?.UserName)</td>
                <td>@Model.TicketType</td>
                <td>@Model.TicketStatus</td>
                <td>@Model.TicketPriority</td>
                <td>@Model.DateCreated</td>
                <td>@Model.DateUpdated</td>
                <td>
                    @if (User.IsInRole(nameof(UserRoles.Admin)) || User.IsInRole(nameof(UserRoles.ProjectManager)))
                    {
                        <a href="@Url.Action("EditTicket", "Tickets", new { id = Model.TicketId })">
                            <i title="Edit Ticket" class="fas fa-edit"></i>
                        </a>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Details", "Tickets", new { id = Model.TicketId })">
                        <i title="User Details" class="fas fa-user-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>