@model List<ProjectViewModel>

@{
    ViewBag.Title = "AllProjects";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}

<h2>AllProjects</h2>

@*@if (!Model.Any())
    {
        <div style="margin-top:15px;">
            <p><strong>No Projects Available </strong></p>
        </div>
    }
    else*@

@if (User.IsInRole(nameof(UserRoles.Admin))
    || User.IsInRole(nameof(UserRoles.ProjectManager)))
{
    @Html.ActionLink("Create Project", "CreateProject")
}

<table id="sample-datatables" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Tickets</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.ApplicationUsers.Count()</td>
                <td>@project.Tickets.Count</td>
                <td>@project.DateCreated</td>
                <td>@project.DateUpdated</td>
                <td>
                    <a href="@Url.Action("EditProject", "Home", new { id = project.ProjectId })">
                        <i title="Edit Project" class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("EditMembers", "Home", new { id = project.ProjectId })">
                        <i title="Edit Members" class="fas fa-user-friends"></i>
                    </a>
                </td>
                <td>
                    <form method="post" action="@Url.Action("ArchiveProjects", "Home", new { id = project.ProjectId})">
                        <button><i title="Archive Project"  class="fas fa-archive"></i></button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>